@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0px;
  padding: 0px;
}
body {
  font-family: "Azeret Mono", monospace;
}
/* navigation bar start here */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 150px;
}
.title {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 28px;
  font-weight: 800;
}
nav li {
  list-style: none;
}
.btn-nav {
  box-sizing: border-box;
  border: 1px solid rgb(13, 19, 33);
  border-radius: 3px;
  opacity: 0.8;
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 20px;
  font-weight: 600;
  padding: 17px 24px 17px 24px;
}
/* hero section start here*/
.hero-section {
  max-width: 100%;
  min-height: 652px;
  margin: 0 auto;
  background-image: url(../assets/Hero-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-bottom: 74px;
}
.hero-section-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.img {
  margin-top: 30px;
}
.hero-section-container h2 {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 48px;
  font-weight: 800;
  text-align: center;
}
.hero-section-container p {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  width: 852px;
  height: 52px;
}
.hero-section-container button {
  width: 208px;
  height: 66px;
  border-radius: 8px;
  background: rgb(13, 19, 33);

  font-family: Azeret Mono;
  font-size: 20px;
  font-weight: 600;
}
.btn a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}
.btn:hover {
  background-color: rgb(137, 151, 250);
  cursor: pointer;
  transition: 0.8s ease-in;
}
/* development section style */
.development {
  max-width: 946px;
  min-height: 1235px;
  margin: 0 auto;
  border-radius: 16px;
  background: rgba(13, 19, 33, 0.02);
  padding: 80px 97px 80px 97px;
  margin-bottom: 88px;
}
.why-development {
  margin-bottom: 48px;
}
.why-development h1 {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 32px;
  font-weight: 800;
  text-align: center;
}
.why-development p {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
}
.development-section {
  width: 946px;
  height: 1072px;
}
.section-1st {
  width: 850px;
  height: 240px;
  display: flex;
  margin: 0 auto;
  padding: 48px;
  margin-bottom: 32px;
  border-radius: 16px;
  background: linear-gradient(
    270deg,
    rgb(255, 255, 255),
    rgba(255, 255, 255, 0) 100%
  );
}
.section1st-left {
  width: 477px;
  height: 220px;
  margin: 8px 0px 8px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.section1st-left h2 {
  color: rgba(13, 19, 33, 0.7);
  font-family: Azeret Mono;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 16px;
}
.section1st-left p {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 32px;
}
.section1st-left button {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 20px;
  font-weight: 600;
  width: 150px;
  height: 48px;
}
.section1st-left button a {
  text-decoration: none;
  color: black;
}
.section1st-right {
  width: 223.2px;
  height: 208.85px;
  margin: 8px 0px 8px 0px;
}
.section1st-right img {
  margin-left: 98.83px;
}
.section-2nd {
  width: 850px;
  height: 240px;
  display: flex;
  margin: 0 auto;
  padding: 48px;
  margin-bottom: 32px;
  border-radius: 16px;
  background: linear-gradient(
    270deg,
    rgb(255, 255, 255),
    rgba(255, 255, 255, 0) 100%
  );
}
.section2nd-left {
  width: 477px;
  height: 220px;
  margin: 0px 8px 0px 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.section2nd-left img {
  margin-right: 48.8px;
}
.section2nd-right h2 {
  width: 477px;
  height: 72px;
  color: rgba(13, 19, 33, 0.7);
  font-family: Azeret Mono;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 16px;
}
.section2nd-right p {
  width: 468px;
  height: 52px;
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 32px;
}
.section2nd-right button {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 20px;
  font-weight: 600;
  width: 150px;
  height: 48px;
}
.section2nd-right button a {
  text-decoration: none;
  color: black;
}
/* inspiration section styles*/
.inspiration-section {
  width: 1140px;
  height: 777px;
  margin: 0 auto;
  margin-bottom: 149px;
}
.inspiration-content {
  width: 852px;
  height: 115px;
  text-align: center;
  margin: 0 auto;
}
.inspiration-content h1 {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 32px;
  font-weight: 800;
}
.inspiration-content p {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
}
.video {
  width: 1140px;
  height: 614px;
  padding: 32px;
  box-sizing: border-box;
  border: 1px solid rgba(13, 19, 33, 0.2);
  border-radius: 16px;
  margin-top: 48px;
}
/* my target section style */
.my-target-section {
  width: 1140px;
  height: 462px;
  margin: 0 auto;
  margin-bottom: 88px;
}
.target-content {
  width: 852px;
  height: 115px;
  text-align: center;
  margin: 0 auto;
}
.target-content h1 {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 32px;
  font-weight: 800;
}
.target-content p {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
}
.skills-container {
  width: 394px;
  height: 299px;
  display: flex;
  gap: 24px;
  margin-top: 48px;
}
.skill {
  padding: 40px;
  border-radius: 16px;
}
.skill h2 {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 24px;
  font-weight: 800;
  margin-bottom: 8px;
}
.skill p {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  width: 284px;
  height: 52px;
  margin-bottom: 24px;
}
.skill a {
  width: 284px;
  height: 19px;
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 700;
}
.css-color {
  background: rgba(0, 76, 232, 0.05);
}
.html-color {
  background: rgba(255, 76, 30, 0.05);
}
.js-color {
  background: rgba(255, 76, 30, 0.05);
}
/* support style section */
.support-container {
  width: 1140px;
  height: 314px;
  background-image: url(../assets/handshake.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.4);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-blend-mode: overlay;
  align-items: center;
  border-radius: 16px;
  margin-bottom: 79px;
}
.support-content {
  width: 730px;
  height: 104px;
  text-align: center;
}
.support-content h1 {
  color: rgb(255, 255, 255);
  font-family: Azeret Mono;
  font-size: 32px;
  font-weight: 700;
}
.support-content p {
  color: rgb(255, 255, 255);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
}
section input[type="text"] {
  width: 548px;
  height: 57px;
  color: rgba(13, 19, 33, 0.4);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  box-sizing: border-box;
  border: 1px solid rgba(13, 19, 33, 0.15);
  border-radius: 8px;
  background: rgb(255, 255, 255);
  padding: 15px;
}
.sub-btn {
  width: 120px;
  height: 58px;
  border-radius: 8px;
  background: rgb(255, 255, 255);
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 20px;
  font-weight: 600;
  padding: 17px 20px 17px 20px;
}
/* footer section style */
.footer-section {
  width: 100%;
  height: 100px;
  align-items: center;
  border-radius: 16px;
  background: rgba(13, 19, 33, 0.03);
}
.footer-container {
  display: flex;
  justify-content: space-between;
  padding: 32px 150px 32px 150px;
}
